/*  your css code here. If applicable */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* Line styling */
#line {
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #000000;

    /* Center the line */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center;
}

